*{
    margin: 0px;
    padding: 0px;
    
}
.header{
    border: none;
    width: 100%;    
    height: 10vh;
    background-color: pink;
}
ul{
    height: 10vh;
    list-style-type:none;
    display:flex;
   
    justify-content: space-around;
    align-items: center;
}
li{
    color: white;
    text-shadow: 5px 5px 5px yellow;
}

.box1 {
   
   
    
    margin: 20px;
    padding: 0px;
    border: solid 1px black;
  
    width: 200px;     
     height: 150px;
}
.box {
    display:flex;
    justify-content: space-evenly;
   
   
   
}
img{
    width: 200px;     
     height: 150px;
}