body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-color: #f0f0f0;
}

.carousel-container {
    position: relative;
    width: 100%;
    /* max-width: 80vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
   width: 100rem;
   height: 500px;
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

@media (max-width: 600px) {
    .carousel-container {
        width: 100%;
    }
}
