 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button#loginBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-card {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.login-card-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.logo {
    width: 50px;
    margin-bottom: 10px;
}

.h2 {
    color: #333;
    margin-bottom: 20px;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #666;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.stay-logged-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.stay-logged-in input {
    margin-right: 5px;
}

.forgot-password {
    color: #00f;
    text-decoration: none;
}

.login-btn, .login-otp-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.or {
    margin: 10px 0;
    color: #666;
}

.signup {
    color: #666;
}

.signup a {
    color: #00f;
    text-decoration: none;
} 
