*{
    padding: 0;
    margin: 0;
}
.head{
    background: url("./img1.webp");
    height: 60vh;
 
  background-repeat: no-repeat;
  background-size:120% 135% ;
  
  background-position: center;
    position: static;
    width: 100%;
    
    height: 60vh;
   
}
  .nav ul{
    list-style: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
   color: aliceblue;
  
    margin: 30px 0px;
    
}
.nav{
    
   text-align: center;
  justify-content:space-between;
    height: 10vh;
    margin: 0px 15%;
    
   display: flex;
}
.nav p:nth-of-type(1) {
    
    color: aliceblue;
    margin: 30px 0px;
}
li{padding: 0px 20px;
  justify-content: space-around ;
  font-size: larger;
}
.form1{
  background-color: white;
 
 
  border: none;
  height: 7vh;
  width: 1000px;
  border-radius: 10px;
  font-size:xx-large;
  text-align:start;
}

.warreper{
  text-align: center  ;
  display: block;
  margin-top: 70px;
}
.zomato img{
  position: relative;
  display:inline;
  /* height: 50px; */
  width: 15rem;
  background: transparent;
  /* background-color: aliceblue; */
  color: white;
  margin-bottom: 30px;
  
}
.dis{
  color: white;
  margin: 0px 20px 20px;
  font-weight: 200;
}
.search{
  display: inline-flex;
  position:sticky;
  background: none;
  height: 3rem;
  width: 45%;
text-align: center;
  
}
input {
  border: 0px;
}
.search img{
 
  width: 50px;
  height: 20px;
}
.main{
 
  
  text-align: center;
 
}

/* card css */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
}

.header {
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content:space-between;
  margin: 20px 0px;
}

.option {
  
  top: 100px;
  right: 100px;
  text-align: center;
  border:  0.5px black;
  border-radius: 2%;
 height: 40vh;
 width: 30%;

  object-fit:contain; 
 border:  rgb(232, 232, 232);
 background-position: center;
   
}


.tx {
  width: 94%;
  height: 70%;
 
  text-align: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size:100% 135% ;
  background-position: center;
  top: 70%;
  height: 30%;
  position: relative;
  background-color: white;
  display: grid;
  padding: 10px;
}
.tx p{
  color: rgb(79, 79, 79);
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.option:hover {
  transform: scale(1.1) ; /* Zoom in on hover */
  transition: transform 0.3s ease;
}

.option .text {
 
  background-color: white;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  text-align: left;
   left: 10px;
}


.collections {
  text-align:start;
  margin: 20px 0;
}
.allcolinbang{
  display: flex;
  justify-content: space-between;
}

.collections h2 {
  margin-bottom: 10px;
  font-size: 3.6rem;
  font-weight: 500;
}
.collections h6{
  line-height: 1.4;
    font-weight: 300;
    color: rgb(54, 54, 54);
    font-size: 1.0rem;
}

.all-collections {
  color: red;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.collection-grid {
  display: flex;
  justify-content:space-between;

  
}

.collection {
  width: 24%;
  margin-bottom: 20px;
  font-weight: 300;
  font-style:normal;
  position: relative;
   /* Adjust height as needed */
  overflow: hidden;
}
.collection::before {
  content: '';
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the RGBA value for darkness */
  
}
.set {
  position: absolute;
  color: rgba(255, 255, 255,0.9);
    top: -65px;
    left: 0px;
    margin-left: 10px;
    border-radius: 0.6rem;
    font-weight:100px;
    width: 100%;
    height: 100%;
    
}
.collection img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* background: transparent; */
 
}

.collection-text {
 
  margin-top: 5px;
  left: 0px;
  position: relative;
}

.collection-text p {
  color: rgb(255, 255, 255);
}







